@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap');

html,
body {
    height: 100%;
    font-family: 'Assistant', sans-serif;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
}

p {
    margin: 0;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #002120;
    display: flex;
    z-index: 9999;
}

.nav-part-1 {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.nav-logo {
    height: 70px;
}

.nav-part-2 {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-part-2 a {
    color: white;
    font-size: 20px !important;
    transition: 0.3s;
}

.nav-part-2 a:hover {
    color: #50a547;
    transform: scale(1.1);
}

.nav-part-2 a:hover .img-panier {
    animation: panierAnim 1s linear infinite;
    opacity: 0.8;
    padding: 5px;
    transition: 0.3s;
}

@keyframes panierAnim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.img-panier {
    width: 40px;
    transition: 0.3s;
}

.panier-text {
    padding-left: 10px;
}

.panier-text p {
    position: relative;
    top: 10px;
}

.panier-text small {
    position: relative;
    top: -5px;
    font-size: 15px;
}

h2 {
    text-transform: uppercase;
    color: #014946;
    font-size: 40px !important;
}

.title-h2{
    animation: anim-h2-title 1s 0.5s ease-in-out forwards; 
    opacity: 0;
}

@keyframes anim-h2-title{
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0); opacity: 1;}
}

.banner-home {
    height: 100%;
    background-image: url(../assets/farm-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: easeBanner 2s ease-in-out forwards;
}

@keyframes easeBanner{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.div-banner-logo {
    width: 500px;
    opacity: 0;
    animation: animLogoBanner 1s 0.5s ease-in-out forwards;
}

@keyframes animLogoBanner{
    0%{transform: translateX(-200px) scale(0);}
    100%{opacity: 1; transform: translateX(0px) scale(1);}
}

.banner-logo {
    width: 100%;
}

.div-img-produit img {
    width: 100%;
    object-fit: contain;
    transition-duration: 0.5s;
}

.div-produits{
    animation: anim-produits 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes anim-produits{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%); opacity: 1;}
}

.div-produits a,
.div-produits a:hover,
.div-produits a:active {
    color: #002120;
    text-decoration: none;
}

.div-produit {
    margin: 10px 0px 20px 0px;
}

.div-produit h3 {
    margin: 0;
    padding: 10px 0px;
    font-family: 'Assistant';
    font-weight: bold;
    font-size: 18px !important;
}

.div-produit p {
    margin: 0;
}

.div-img-produit {
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
}

.overlay-produit {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: rgba(1, 73, 70, 0.8);
    transition-duration: 0.5s;
}

.form-ajout-panier{
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
}

.form-ajout-panier input{
    width: 100%;
    height: 100%;
}

.div-produit:hover .overlay-produit {
    height: 100%;
    transition-duration: 0.5s;
}

.div-produit:hover .overlay-produit p {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.div-produit:hover .bouton-produit{
    opacity: 1;
}

.overlay-produit {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.overlay-produit strong {
    font-size: 30px !important;
}

.overlay-produit p {
    font-size: 18px;
    font-family: 'Assistant';
    color: white;
    opacity: 0;
    user-select: none;
    margin-bottom: 10px;
}

.bouton-produit {
    border: 1px solid white;
    width: fit-content;
    padding: 5px;
    background: transparent;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.div-ajout-produit {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.div-ajout-produit:hover .ajout-panier-img {
    transform: rotate(360deg);
    transition: 0.5s;
}

.ajout-panier-img {
    width: 20px;
    height: 20px;
    transition: 0.5s;
}

.img-produit-panier {
    width: 100%;
}

.p-quantite {
    padding-top: 25px;
    font-size: 20px;
}

.p-quantite-input {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.description-article h3 {
    color: #002120;
    text-transform: uppercase;
    font-size: 45px !important;
}

.description-article h4 {
    color: #002120;
    text-transform: uppercase;
    font-size: 30px !important;
}

.description-article p {
    color: #002120;
    font-size: 18px !important;
}

.div-ajout-panier-article {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -50px;
    right: 50px;
    padding: 10px;
    background-color: #002120;
    animation: ajoutPanierArticle 1s ease-in-out forwards;
    user-select: none;
    cursor: pointer;
}

@keyframes ajoutPanierArticle {
    0% {}

    100% {
        bottom: 0;
    }
}

.div-ajout-panier-article p {
    color: white;
    text-transform: uppercase;
    font-size: 20px !important;
    padding-right: 10px;
}

.div-ajout-panier-article img {
    width: 30px;
}

.avis-clients-div {
    margin-bottom: 20px;
}

.avis-clients-div img {
    border-radius: 50%;
    width: 100%;
}

.etoiles-article {
    width: 80% !important;
}

.form-anim{
    animation: form-anim 1.5s ease-in-out forwards;
    opacity: 0;
}

@keyframes form-anim{
    0%{transform: translateY(100px);}
    100%{transform: translateY(0); opacity: 1;}
}

.contact-form {
    width: 100%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-form form {
    padding: 0px 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #002120;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #102120;
    border: none;
    cursor: pointer;
}

.btn-all-products{
    font-family: 'Assistant';
    font-size: 20px !important;
    color: #102120 !important;
}

.btn-all-products:hover{
    color: green !important;
    text-decoration: underline !important;
}